<h1>Stupid Coaching</h1>

 <div class="user">
   <%= "#{params[:answer]}"%>
   <p><em>- You</em></p>
 </div>

 <div class="coach">
   <%if params[:answer] == "I am going to work"%>
   <%= "Great"%>
   <%elsif params[:answer].include?("?")%>
   <%= "Silly question, get dressed and go to work!"%>
   <%else%>
   <%= "I don't care, get dressed and go to work!"%>
   <%end%>
   <p><em>- Your coach</em></p>
 </div>
<%= link_to "Ask a new question", ask_path %>
